<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../messagebird_async/sms/view/struct.ViewParameters.html">
</head>
<body>
    <p>Redirecting to <a href="../../../../messagebird_async/sms/view/struct.ViewParameters.html">../../../../messagebird_async/sms/view/struct.ViewParameters.html</a>...</p>
    <script>location.replace("../../../../messagebird_async/sms/view/struct.ViewParameters.html" + location.search + location.hash);</script>
</body>
</html>